*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Background.png);
    background-size:cover;
    background-position: center;
    background-blend-mode: darken;
}
.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color:darkturquoise;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
    
}

.content h1{
    font-size: 70px;
    margin-top: -250px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px
}
.content a{
    color: yellow;
    text-transform: uppercase;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(3);
    transform:scale(3);
}

body {
    background-color: rgb(0,0,0);
}