
body {
    background-image: url("../assignment2-yaro-davis/skeleton-laugh.gif");
}


#content{
    color:#666;
    text-align: center;
    width: 500px;
    height: 200px;
    margin-top: 200px;
    margin-left: 700px;
}

#BTN{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background: goldenrod;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 500px;
    margin-top: 300px;
}

#BTN:hover{background-color: blueviolet;}
#BTN:active{
    background-color: brown;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#BTN2{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background: goldenrod;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 550px;
    margin-top: 300px;
}

#BTN2:hover{background-color: blueviolet;}
#BTN2:active{
    background-color: brown;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


#BTN3{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background: goldenrod;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 200px;
    margin-top: 300px;
}

#BTN3:hover{background-color: blueviolet;}
#BTN3:active{
    background-color: brown;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}