
/*
code for website body 
*/
body{
    background-color:#000000;
    /*background-image: url("../designPsch/assets/face-recognition.jpeg");*/
    background-repeat: no-repeat;
    background-size: auto;
}

/* code for div with animations */
#divAnimation{
    background-image: url("../yaro/assets/LivelyIdleArgali-mobile.gif.crdownload");
    height: 750px;
    width: auto;
    position: static;
    filter: blur(3px);
}


/* code for website maine heading */
#titl{
    text-decoration: underline overline rgb(250, 250, 250);
    color:#ffffff;
    text-shadow: 2px 2px #2b2323;
    padding-top: 305px;
    font-size: 6.5em;
    filter: none;
    position: absolute;
    top: 5px;  
	left: 250px;
}


#arv{
	position:absolute;
	top:10px;
    font-family: "Rockwell", Helvetica, sans-serif;
}




/*
code for navigation bar 
*/

.active{
    background-color: black;
}

nav{
    /*
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    width: 200px;
    height: 100%;
    position: fixed;
    */
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;

}

li{
    /*
    float: left;
    border-right: 1px solid #bbb;
    border-left: 1px solid #bbb;
    */
}


li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

nav a:hover{
    background-color: gray;
}


/*////////////////////////////////////////////*/



/* section for introduction*/
#info1{
    background-color: white;
    padding: 10px;
    text-align:left;
    margin-left: 200px;
}

/*introduction text code */
#introductionHEad{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

#introductionText{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

/* section for another articles*/
#info2{
    background-color:white;
    padding: 10px;
    text-align: left;
    margin-left: 200px;
    border-style: outset;
}
#info2Head{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

#info2Text{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

#info3{
    background-color:white;
    padding: 10px;
    text-align: left;
    margin-left: 200px;
}
#info3Head{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

#info3Text{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

/*code for left side information block (gdpr)*/
#leftInfo{
 
    background-color: white;
    text-align: left;
    padding: 10px;
    margin-left: 200px;
    border-style: outset;
}

#gdprHead{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

#gdprText{
    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

/*code for right side information block (cookies) */
#rightInfo{
    background-color:white;
    text-align: left;
    padding: 10px;
    margin-left: 200px;
    border-style: outset;
}
/*cookies text code */
#cookiesHead{

    color:black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

#cookiesText{

    color: black;
    font-family: 'Gill Sans', Helvetica, sans-serif;
}

/*code for footer*/
footer{
    background-image: url("../yaro/assets/watch-dogs2-skeleton-snake.gif");
    text-align: center;
    color: #bbb;
    padding: 5px;
}